<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat app</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Shahzaib Sarwar">
    <meta name="description" content="This is a simple online chat app">
    <meta name="keywords" content="chat,socket.io,online chat">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
</head>

<body>

    <div class="container">

        <noscript>Please enable javascript to use this app</noscript>

        <h1 class="heading">Chat App</h1>

        <hr>

        <div class="messages-container" style="display: none">
            {{#each messages}}
                <div class="message-container">
                    <span class="username">{{username}}</span>
                    <span class="message">{{message}}</span>
                </div>
            {{/each}}
        </div>

        <form id="message-form" autocomplete="off" class="margin-tb" style="display: none">
            <input id="sending-message" class="input-text" type="text" maxlength="150" placeholder="Enter message ( 150 characters limit )">
            <input class="button" type="submit" value="Send">
        </form>
        <div class="center" id="username-form-container">
            <form id="username-form" autocomplete="off">
                <input id="sending-username" class="input-text" type="text" maxlength="15" placeholder="Enter name ( 15 characters limit )">
                <input class="button" type="submit" value="Enter">
            </form>
        </div>
    </div>


</body>

</html>